
@mixin title() {
	display: inline-block;	
	font-family: $text-ff;
	font-size: 90px;
	line-height:1.5;
	font-weight: $title-weight;
	max-height: $title-height;
	overflow:hidden;
	word-break: break-all;
	&:hover {
			overflow:visible;
	}
}

@mixin text() {
	font-size: 17px;
	line-height: 1.5;
	font-weight: $text-weight;
	font-family: $text-ff;
	max-height: calc(17px * 1.5 * 6);
	overflow:hidden;
	transition:all .1s ease;
	
		&:hover {
			overflow:visible;
			
		}
}
@mixin button() {
	padding:13px 40px;
	color:$secondary-color;
	font-size:20px;
	line-height:1.5;
	font-weight:$text-weight;
	font-family: $text-ff;
	text-transform: uppercase;
	-webkit-appearance:none;
	overflow:hidden;
	outline:none;
	box-shadow:$shadow;
	position: absolute;
	left: 40%;
	transition:all .1s ease .1s;
}